<div class="logos">
  <% link_to "https://www.lewagon.com/" do %>
    <%= image_tag 'lewagon.png' %>
  <% end %>
  <% link_to "http://smartcity.brussels/" do %>
    <%= image_tag 'bxl.png' %>
  <% end %>
  <% link_to "http://www.maksvzw.org/" do %>
    <%= image_tag 'maks.png' %>
  <% end %>
</div>